<h1 class="sitename">Pictures of Chris</h1>
<h3 class="fblogin">Chris needs to login to Facebook to begin.</h3>
<script>
  function statusChangeCallback(response) {
    console.log(response);
    if (response.status === 'connected') {
      loggedIn(response);
    } else if (response.status === 'not_authorized') {
      document.getElementById('status').innerHTML = 'I hate you';
    } else {
      document.getElementById('status').innerHTML = 'Facebook hates you!';
    }
  }

  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1451067045133237',
      cookie     : true,   
      xfbml      : true,  
      version    : 'v2.0' 
    });

    FB.Event.subscribe('auth.login', loggedIn)
    FB.Event.subscribe('auth.logout', loggedOut)

    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', loggedIn);
  }
</script>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

<!-- <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button> -->
<div class="fb-login-button" scope="public_profile, email, user_friends, user_photos" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="true" ></div>
<div id="status">
</div>
